#session-info-section {

    ul {
        padding:0;
    }


    .session-info {
        border:2px solid #c4c3c4;
        border-radius: 10px;
        padding:10px;
        margin: 15px 0;
        background-color: #f1efef;


        &.active-session-slug {
            background-color: #ce1731;
            color: white;

            .session-info-left-icons{
                color:#f3a536;

                i {
                    color:#f3a536;
                }
            }

            .vert-divider {
                border-right: 2px solid white;
            }

             .session-stub-date-icon, .session-stub-date-icon-non-student {
                color: white !important;
             }
             .star-rating__star.is-selected {
                 color: white !important;
             }

             .stub-info-expanded {
                 .editable-div, input, h1 {
                     color:#ce1731;
                 }
                 p, textarea {
                     color: #4a4a4a;
                 }
            }

            .student-attendance-list {
                .dropdown {
                    background-color: #ce1731;

                    .attendance-dropdown {
                       border: 1px solid white;
                       background-color: inherit;
                   }

                    a:hover, .attendance-dropdown:focus, .attendance-dropdown:hover, .attendance-dropdown.focus {
                        color:#ce1731;
                        background-color: white;
                    }
                }
            }
        }



        &.past-session-slug {
            background-color: #4a4a4a;
            color: #9b9b9b;

            .session-info-left-icons{
                color:#9b9b9b;

                i {
                    color:#9b9b9b;
                }
            }

            .vert-divider {
                border-right: 2px solid #9b9b9b;
            }

             .session-stub-date-icon, .session-stub-date-icon-non-student {
                color: #9b9b9b !important;
             }
             .star-rating__star.is-selected {
                 color: white !important;
             }

             .student-attendance-list {
                 .dropdown {
                     background-color: #4a4a4a;

                     .attendance-dropdown {
                        border: 1px solid #9b9b9b;
                        background-color: inherit;
                    }

                     a:hover, .attendance-dropdown:focus, .attendance-dropdown:hover, .attendance-dropdown.focus {
                         color:black;
                         background-color: #9b9b9b;
                     }
                 }
             }
        }



        &.future-session-slug {
            background-color: #f1efef;
            color: #9a9a9a;

            .session-info-left-icons{
                color:#9a9a9a;

                i {
                    color:#9a9a9a;
                }
            }

            .vert-divider {
                border-right: 2px solid #9a9a9a;
            }

             .session-stub-date-icon {
                color: #9a9a9a !important;
             }
             .star-rating__star.is-selected {
                 color: #9a9a9a !important;
             }

             .student-attendance-list {
                 .dropdown {
                     background-color: #f1efef;

                     .attendance-dropdown {
                        border: 1px solid #9a9a9a;
                        background-color: inherit;
                    }

                     a:hover, .attendance-dropdown:focus, .attendance-dropdown:hover, .attendance-dropdown.focus {
                         color:black;
                         background-color: #9a9a9a;
                     }
                 }
             }
        }

        .stub-info-expanded {
            background-color: white;
            border-radius: 5px;
            padding: 2em;
            margin-top: 1em;
            width:100%;

            h1 {
                margin-top:0;
            }

            .editable-div {
                margin-top: 0;
                margin-bottom: .5em;
                font-size: 2.5em;
            }

            input {
                font-size: 2.5em;
                width: 100%;
                margin-bottom: .5em;
                margin-top: 0;
            }
            textarea {
                width:100%;
                font-size: 14px;
                line-height: 1.5em;
                letter-spacing: 1px;
            }
        }

        a {
            cursor:pointer;
            color:inherit;
        }

        .session-info-left-icons {
            text-align:center;
            width:2.75em;
            i {
                font-size: 3em;
                color:#d0112b;
            }
            small {
                text-align: center;
            }
        }

        .session-info-main {
            h4 {
                font-weight:400;
            }

        }

        .session-info-date {
            margin-top: .5em;
            padding: 0 .4em;
        }

        .session-stub-attendance {
            text-align: center;
            padding:0;
            width: 5em;

            .session-stub-date-icon {
                font-size: 4.5em;
                text-align: center;
                color: #c4c3c4;
                margin-top: .5em;
            }

            h4 {
                margin-top:0;
            }

            .session-stub-date-icon-non-student {
                font-size: 2em;
                text-align: center;
                color: #c4c3c4;
                margin-top: .5em;
            }

            .session-stub-date-check {
                margin-top: .5em;
                font-size: 1.25em;
            }


        }

        .vert-divider {
            width:1px;
            height:100px;
            border-right: 2px solid #c4c3c4;
        }

        .session-info-right {
            width:1em;
            margin-left: 1.5em;
        }

        .star-rating__star {
            font-size: .9em;
        }
    }
}
