.student-attendance {
    display: inline-block;
    padding:5px;

    &-left {
        padding:0;
        img {
            width:100%;

        }
        .default-avatar {
            padding:.75em;
            background-color: #c4c3c4;

            .default-avatar-initals {
                font-size: 1.5em;
                color:black;
            }
        }
    }

    &-middle {
        padding:.5em 0 0 .75em;
        p {
            margin: 0;
        }
    }

    &-right {
        padding:.5em;


        .attendance-dropdown {
            width:100%;
            text-align: left;
        }

        ul, li, a{
            background-color: inherit;
        }
        .caret {
            margin-left:.5em;
            margin-top: .5em;
        }

    }
}
