/* COLORS */
$primary-red: #ce1731;

/* instructor/admin header */
$gradient-start: #3ae4f5;
$gradient-stop: #33acbd;
$primary-color: #2f91a1;

/* student header */
$student-gradient-start: #333;
$student-gradient-stop: #4a4a4a;

/* University Colors
$rutgers: '';
*/

/* TRANSITIONS */
$background-color: background-color .2s ease-out;